@keyframes slide-in-side {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideInTop {
  0% {
    transform: translateX(-1000px) translateY(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
}
@keyframes lettersAppear {
  0% {
    opacity: 0;
    transform: scale(400%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
    transform: translateX(-0.1em) translateY(-0.1em);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes colorChange {
  0%, 100% {
    background-color: #393939;
  }
  50% {
    background-color: #5bacc3;
  }
}
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  80% {
    transform: translateY(0);
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("../../Assets/Fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../Assets/Fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf");
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: italic;
}
/* Enitre document styles */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: auto;
  width: 100%;
  max-width: 1480px;
  min-width: 340px;
}

/* header section styles */
.nav-bar {
  background-color: #fff0ed;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
@media (min-width: 768px) {
  .nav-bar {
    padding-left: 1em;
  }
}

.nav-bar__banner-content {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}

.banner-content__a .nav-bar__second-title {
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .banner-content__a .nav-bar__second-title {
    font-size: 2.8rem;
  }
}
.banner-content__a:hover {
  animation: jump 0.5s linear infinite;
}

.nav-bar__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .nav-bar__list {
    padding-left: 1em;
  }
}

.list__item {
  padding: 0;
  text-wrap: nowrap;
  position: relative;
}
@media (min-width: 768px) {
  .list__item {
    margin: 0;
    padding: 0;
  }
}

.item__link {
  font-size: 1em;
  margin: 0;
  padding: 1em 1em;
  text-align: center;
  color: #393939;
}
@media (min-width: 768px) {
  .item__link {
    font-size: 1.3rem;
  }
}

.item__link1:hover,
.item__link2:hover {
  color: #5bacc3;
}

.item__link3 {
  color: #5bacc3;
}

.item__link3:hover {
  color: #393939;
}

/* Icon styles */
.icon {
  width: 2em;
}
@media (min-width: 768px) {
  .icon {
    width: 3rem;
  }
}

/* Font styles for entire document */
.first-title {
  font-weight: 300;
  color: #393939;
  font-size: 3.7rem;
}

.second-title {
  font-weight: 300;
  color: #393939;
  font-size: 2.2rem;
}

.main__price {
  color: #5bacc3;
}

.link {
  text-decoration: none;
}

.header__text,
.footer__text {
  font-size: 1rem;
}

/* list styles */
li {
  list-style-type: none;
}

/* header styles */
html {
  background-color: #fff0ed;
}

.header {
  margin: 0;
}

.nav-bar,
.header__section {
  background-color: #fff0ed;
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 2em;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header__section {
    padding: 2em 6em 2em 5em;
  }
}
@media (min-width: 1024px) {
  .header__section {
    padding: 2em 12em 2em 8em;
  }
}

.description__title {
  line-height: 1;
}
.description__text {
  margin-top: 0.7em;
  margin-bottom: -0.3em;
}

.section__description {
  max-width: 22em;
}

.section__img {
  height: 25em;
}
@media (min-width: 768px) {
  .section__img {
    height: 32rem;
  }
}

/* main section styles */
.main__our-products {
  text-align: center;
  background-color: #f7f7f7;
  padding-bottom: 3em;
}

.our-products__title {
  padding: 0.7em 0;
}

.our-products__product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.our-products__product-cards .product-card {
  display: inline-block;
  background-color: #fff;
  margin: 1em 3em;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 15em;
}
@media (min-width: 768px) {
  .our-products__product-cards .product-card {
    width: 17em;
  }
}
@media (min-width: 1024px) {
  .our-products__product-cards .product-card {
    width: 20em;
  }
}

.product-card__container-top {
  padding: 1em;
}
@media (min-width: 768px) {
  .product-card__container-top {
    padding: 1em 2em;
  }
}
.product-card__container-bottom {
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0ed;
  height: 9em;
}

.container-top__img {
  height: 15rem;
  margin-bottom: 1em;
}

.section2__img {
  z-index: 1;
}
.section2__img:hover {
  animation: spin 2s linear infinite;
  cursor: pointer;
}

.container-bottom__description {
  text-align: left;
}

.description__sub-title {
  color: #909090;
}

.main__our-products .main__price {
  font-size: 1.8em;
  font-weight: 700;
}

.our-products__button {
  padding-left: 2em;
  padding-right: 2em;
}

.main__discount-section {
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main__discount-section {
    min-height: 64rem;
  }
}

.discount-section__top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-top: 2em;
}
@media (min-width: 1024px) {
  .discount-section__top-section {
    height: 32rem;
    width: 80%;
    padding-top: 7em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.top-section__section1 {
  margin-bottom: 5em;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .top-section__section1 {
    width: 37%;
    align-items: flex-start;
  }
}

.section1__title {
  text-align: center;
  margin-bottom: 0.3em;
  line-height: 1;
}
@media (min-width: 768px) {
  .section1__title {
    margin-bottom: 0.4em;
  }
}
@media (min-width: 1024px) {
  .section1__title {
    text-align: left;
    margin-bottom: 0.6em;
  }
}
.section1__description {
  text-align: center;
}
@media (min-width: 1024px) {
  .section1__description {
    text-align: left;
  }
}
.section1__images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
  padding-bottom: 1.8em;
}
@media (min-width: 1024px) {
  .section1__button {
    position: absolute;
    left: 0;
  }
}

.images__icon {
  width: 2.4em;
}

.top-section__section2 {
  width: 80%;
  max-width: 24em;
  height: auto;
  max-height: 24em;
  position: relative;
  margin-bottom: 1em;
  padding: 4em 1.2em;
  background-image: url(../Assets/Images/coldbrewbackground.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .top-section__section2 {
    width: 24em;
    height: 24em;
  }
}

.section2__img {
  transform: translateX(-9px) translateY(-9px);
  width: 45%;
}
.section2__border {
  border: 5px solid #5bacc3;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -0.9em;
  left: -0.9em;
  bottom: 0.9em;
  right: 0.9em;
}

.discount-section__bottom-section {
  min-height: 32rem;
  width: 80%;
  display: flex;
  margin-top: -0.5em;
}

.bottom-section__description {
  background-color: #393939;
  color: #fff;
  font-size: 2.8rem;
  font-weight: 200;
  padding: 0.6em;
  text-align: center;
  margin: auto;
  width: 100%;
  animation: colorChange 2.5s linear infinite;
  align-items: left;
  align-content: left;
}
@media (min-width: 768px) {
  .bottom-section__description {
    padding: 0.8em 1.2em;
  }
}

/* footer styles */
.footer {
  background-color: #fff0ed;
  text-align: center;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  flex-flow: wrap;
}
.footer__background-img1, .footer__background-img2 {
  position: absolute;
  width: 6em;
  opacity: 0.2;
}
.footer__background-img1 {
  top: 1em;
  left: -2em;
}
.footer__background-img2 {
  bottom: 1em;
  right: -2em;
}
.footer__section {
  display: inline-block;
  margin: 1em;
  padding: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__section {
    margin: 2em;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .footer__section {
    margin: 4em 2em;
  }
}
.footer .second-title {
  margin-bottom: 0.5em;
}

/* button and icon styles */
button {
  border: none;
  background-color: #5bacc3;
  color: #f7f7f7;
  font-size: 1.3rem;
  padding: 0.6em 1em 1em 0.4em;
  width: 9em;
  position: relative;
}
button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #5bacc3;
}
button:active {
  padding: 0.8em 1em;
  color: #f7f7f7;
  background-color: #5bacc3;
}

.button__border {
  border: 2px solid #393939;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  bottom: 0.2em;
  right: 0.2em;
}
.button__border:active {
  border: 2px solid #393939;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.description__button,
.our-products__button {
  margin-top: 2em;
}

.social__icon {
  transition: 1s;
  width: 3em;
}
.social__icon:hover {
  box-shadow: 1px 1px 6px #5bacc3, 2px 2px 7px #5bacc3, -2px -2px 8px #5bacc3, inset 1px 1px 5px #5bacc3, inset -1px -1px 6px #5bacc3;
}/*# sourceMappingURL=landing.css.map */