@use "./partials/global";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/* header styles */
.header {
  margin: 0;
}
.nav-bar,
.header__section {
  background-color: $color5;
}
.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 2em 12em 2em 8em;
  overflow: hidden;
}
.description__text {
  margin-top: 0.7em;
  margin-bottom: -0.3em;
}
.section__description {
  max-width: 22em;
}
.section__img {
  height: 32rem;
}
/* main section styles */
.main__our-products {
  text-align: center;
  background-color: $color2;
  padding-bottom: 3em;
}
.our-products__title {
  padding: 0.7em 0;
}
.our-products__product-cards {
  .product-card {
    display: inline-block;
    background-color: $color3;
    margin: 1em 3em;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 20em;
  }
}
.product-card {
  &__container-top {
    padding: 1em 2em 1em;
  }
  &__container-bottom {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color5;
    height: 9em;
  }
}
.container-top__img {
  height: 15rem;
  margin-bottom: 1em;
}
.container-bottom__description {
  text-align: left;
}
.description__sub-title {
  color: $color6;
}
.main__our-products {
  .main__price {
    font-size: 1.8em;
    font-weight: 700;
  }
}
.our-products__button {
  padding-left: 2em;
  padding-right: 2em;
}
.main__discount-section {
  height: 64rem;
  @include flex-column-center();
}
.discount-section__top-section {
  height: 32rem;
  padding-top: 7em;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-section__section1 {
  width: 37%;
}
.section1 {
  &__title {
    margin-bottom: 0.4em;
  }
  &__images {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
    padding-bottom: 1.8em;
  }
}
.images__icon {
  width: 2.4em;
}
.top-section__section2 {
  width: 24em;
  padding: 4em 1.2em;
  background-image: url(../Assets/coldbrewbackground.png);
  background-size: cover;
  @include flex-center();
  position: relative;
}
.section2 {
  &__img {
    top: -0.9em;
    left: -0.9em;
    bottom: 0.9em;
    right: 0.9em;
  }
  &__border {
    @include offset-border(0.9em, 5px, $color4);
  }
}
.discount-section__bottom-section {
  height: 32rem;
  width: 80%;
  display: flex;
}
.bottom-section__description {
  background-color: $color1;
  color: $color3;
  font-size: $p3;
  font-weight: 200;
  padding: 0.8em 1.2em;
  text-align: center;
  margin: auto;
  min-width: $min-width;
  width: 100%;
}
/* footer styles */
.footer {
  background-color: $color5;
  text-align: center;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;

  &__background-img1,
  &__background-img2 {
    position: absolute;
    width: 6em;
    opacity: 0.2;
  }
  &__background-img1 {
    top: 1em;
    left: -2em;
  }
  &__background-img2 {
    bottom: 1em;
    right: -2em;
  }
  &__section {
    display: inline-block;
    margin: 4em 2em;
    text-align: left;
  }
  .second-title {
    margin-bottom: 0.5em;
  }
}
/* button and icon styles */
button {
  border: none;
  background-color: $color4;
  color: $color2;
  font-size: $p2;
  padding: 0.6em 1em 1em 0.4em;
  width: 9em;
  position: relative;

  &:hover {
    cursor: pointer;
    background-color: $color3;
    color: $color4;
  }
}
.button__border {
  @include offset-border(0.2em, 2px, $color1);
}

.description__button,
.our-products__button {
  margin-top: 2em;
}
.social__icon {
  transition: 1s;
  &:hover {
    box-shadow: 1px 1px 6px $color4, 2px 2px 7px $color4, -2px -2px 8px $color4,
      inset 1px 1px 5px $color4, inset -1px -1px 6px $color4;
  }
}
/* responsive styles for smaller screen sizes */
@media (max-width: 960px) {
  .header__section {
    padding: 2em;
  }
  .section__img {
    height: 25em;
  }
  .main__discount-section {
    height: auto;
  }
  .discount-section__top-section {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 2em;
  }
  .top-section__section1 {
    margin-bottom: 6em;
    width: 60%;
    @include flex-column-center();

    .section1__title {
      text-align: center;
      margin-bottom: 0.3em;
      line-height: 1;
    }
    .section1__description {
      text-align: center;
    }
  }
  .section1__images {
    width: 100%;
  }
  .footer {
    display: flex;
    flex-flow: wrap;

    &__section,
    p {
      margin: 1em;
      padding: 0;
      text-align: center;
    }
  }
}
@media (max-width: 480px) {
  .our-products__product-cards .product-card {
    width: 17em;
  }
  .top-section__section1 {
    margin-bottom: 4em;
  }
  .top-section__section2 {
    width: 80%;
    height: auto;
    position: relative;
    margin-bottom: 1em;

    .section2__img {
      width: 70%;
      height: auto;
      transform: translateX(-5px);
    }
  }
  .footer {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .footer__section {
    margin: 0;
  }
}
