@use "./partials/global";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/keyframes" as *;
@use "./partials/fonts" as *;

/* Header Styles */
.header-menu {
  background-image: url(../Assets/Images/coffee-circle.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 36rem;
  display: flex;
}
.header-menu__title-box {
  height: 8rem;
  width: 12rem;
  background-color: $color1;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-in-side 1.5s;
  @include tablet {
    height: 12rem;
    width: 18rem;
  }
}
.title-box {
  &__border {
    @include offset-border(0.3em, 5px, $color4);
    animation: slideInTop 1.5s;
  }
  &__title {
    color: $color3;
    opacity: 0;
    animation: lettersAppear 1.5s ease-in-out 1s;
    animation-fill-mode: forwards;
    font-size: $p3;
    @include tablet {
      font-size: $h1-h2;
    }
  }
}
.header-links {
  &__list {
    padding: 1em;
    background-color: $color1;
    line-height: 0.5;
    @include tablet {
      text-align: center;
      width: 100%;
      padding: 2em 1em;
    }
  }
  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color3;
    padding: 0.5em 1em;
    border-left: 0.2em solid $color4;
    border-right: 0.2em solid $color4;
    text-transform: uppercase;
    font-size: 1.2em;
    @include tablet {
      display: inline;
      border-right: none;
      padding: 0 1em;
    }
  }
  &__link {
    font-weight: 300;
    @include tablet {
      margin-right: 0.4em;
    }
    // margin-right: 0.4em;
  }
}

/* Main Section Styles */
.main__section {
  .first-title,
  .second-title,
  p {
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .first-title {
    line-height: 1;
    padding-top: 0.4em;
    padding-bottom: 0.3em;
    @include tablet {
      padding-top: 0.5em;
      padding-bottom: 0.8em;
    }
  }
  .second-title {
    line-height: 1;
    padding-bottom: 0.3em;
    @include tablet {
      padding-bottom: 0.2em;
    }
  }
}
.main__price {
  padding-top: 0.2em;
  padding-bottom: 1em;
}
.main {
  .main__description {
    width: 60%;
    margin: auto;
    min-width: $min-width;
    @include tablet {
      width: 30%;
    }
  }
}
.main__section {
  padding-bottom: 1em;
}
.main__hot-drinks,
.main__pastries {
  background-color: $color5;
}
.main__cold-drinks {
  background-color: $color2;
}
.main__section:last-child {
  padding-bottom: 3em;
}
/* Footer Styles */
.footer,
.footer__icon,
.footer__text {
  background-color: $color5;
  text-align: center;
}
.footer__line {
  width: 20%;
  margin: auto;
  margin-bottom: 3em;
}
.footer__icon {
  margin-bottom: 2em;
}
