@keyframes slide-in-side {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideInTop {
  0% {
    transform: translateX(-1000px) translateY(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
}
@keyframes lettersAppear {
  0% {
    opacity: 0;
    transform: scale(400%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
    transform: translateX(-0.1em) translateY(-0.1em);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes colorChange {
  0%, 100% {
    background-color: #393939;
  }
  50% {
    background-color: #5bacc3;
  }
}
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  80% {
    transform: translateY(0);
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("../../Assets/Fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../Assets/Fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf");
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: italic;
}
/* Enitre document styles */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: auto;
  width: 100%;
  max-width: 1440px;
  min-width: 340px;
}

/* header section styles */
.nav-bar {
  background-color: #fff0ed;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
@media (min-width: 768px) {
  .nav-bar {
    padding-left: 1em;
  }
}

.nav-bar__banner-content {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}

.banner-content__a .nav-bar__second-title {
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .banner-content__a .nav-bar__second-title {
    font-size: 2.8rem;
  }
}
.banner-content__a:hover {
  animation: jump 0.5s linear infinite;
}

.nav-bar__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .nav-bar__list {
    padding-left: 1em;
  }
}

.list__item {
  padding: 0;
  text-wrap: nowrap;
  position: relative;
}
@media (min-width: 768px) {
  .list__item {
    margin: 0;
    padding: 0;
  }
}

.item__link {
  font-size: 1em;
  margin: 0;
  padding: 1em 1em;
  text-align: center;
  color: #393939;
}
@media (min-width: 768px) {
  .item__link {
    font-size: 1.3rem;
  }
}

.item__link1:hover,
.item__link2:hover {
  color: #5bacc3;
}

.item__link3 {
  color: #5bacc3;
}

.item__link3:hover {
  color: #393939;
}

/* Icon styles */
.icon {
  width: 2em;
}
@media (min-width: 768px) {
  .icon {
    width: 3rem;
  }
}

/* Font styles for entire document */
.first-title {
  font-weight: 300;
  color: #393939;
  font-size: 3.7rem;
}

.second-title {
  font-weight: 300;
  color: #393939;
  font-size: 2.2rem;
}

.main__price {
  color: #5bacc3;
}

.link {
  text-decoration: none;
}

.header__text,
.footer__text {
  font-size: 1rem;
}

/* list styles */
li {
  list-style-type: none;
}

/* Header Styles */
.header-menu {
  background-image: url(../Assets/coffee-circle.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 36rem;
  display: flex;
}

.header-menu__title-box {
  height: 8rem;
  width: 12rem;
  background-color: #393939;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-in-side 1.5s;
}
@media (min-width: 768px) {
  .header-menu__title-box {
    height: 12rem;
    width: 18rem;
  }
}

.title-box__border {
  border: 5px solid #5bacc3;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -0.3em;
  left: -0.3em;
  bottom: 0.3em;
  right: 0.3em;
  animation: slideInTop 1.5s;
}
.title-box__title {
  color: #fff;
  opacity: 0;
  animation: lettersAppear 1.5s ease-in-out 1s;
  animation-fill-mode: forwards;
  font-size: 2.8rem;
}
@media (min-width: 768px) {
  .title-box__title {
    font-size: 3.7rem;
  }
}

.header-links__list {
  padding: 1em;
  background-color: #393939;
  line-height: 0.5;
}
@media (min-width: 768px) {
  .header-links__list {
    text-align: center;
    width: 100%;
    padding: 2em 1em;
  }
}
.header-links__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 0.5em 1em;
  border-left: 0.2em solid #5bacc3;
  border-right: 0.2em solid #5bacc3;
  text-transform: uppercase;
  font-size: 1.2em;
}
@media (min-width: 768px) {
  .header-links__list-item {
    display: inline;
    border-right: none;
    padding: 0 1em;
  }
}
.header-links__link {
  font-weight: 300;
}
@media (min-width: 768px) {
  .header-links__link {
    margin-right: 0.4em;
  }
}

/* Main Section Styles */
.main__section .first-title,
.main__section .second-title,
.main__section p {
  text-align: center;
  width: 80%;
  margin: auto;
}
.main__section .first-title {
  line-height: 1;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
}
@media (min-width: 768px) {
  .main__section .first-title {
    padding-top: 0.5em;
    padding-bottom: 0.8em;
  }
}
.main__section .second-title {
  line-height: 1;
  padding-bottom: 0.3em;
}
@media (min-width: 768px) {
  .main__section .second-title {
    padding-bottom: 0.2em;
  }
}

.main__price {
  padding-top: 0.2em;
  padding-bottom: 1em;
}

.main .main__description {
  width: 60%;
  margin: auto;
  min-width: 340px;
}
@media (min-width: 768px) {
  .main .main__description {
    width: 30%;
  }
}

.main__section {
  padding-bottom: 1em;
}

.main__hot-drinks,
.main__pastries {
  background-color: #fff0ed;
}

.main__cold-drinks {
  background-color: #f7f7f7;
}

.main__section:last-child {
  padding-bottom: 3em;
}

/* Footer Styles */
.footer,
.footer__icon,
.footer__text {
  background-color: #fff0ed;
  text-align: center;
}

.footer__line {
  width: 20%;
  margin: auto;
  margin-bottom: 3em;
}

.footer__icon {
  margin-bottom: 2em;
}/*# sourceMappingURL=menu.css.map */