@use "./variables" as *;
@use "./mixins" as *;
@use "./keyframes" as *;

/* Enitre document styles */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: auto;
  width: 100%;
  max-width: $max-width;
  min-width: $min-width;
}

/* header section styles */
.nav-bar {
  background-color: $color5;
  padding-top: 1rem;
  padding-left: 1em;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.nav-bar__banner-content {
  display: flex;
  align-items: center;
  padding-bottom: 1em;

  .second-title {
    font-size: 2.8em;

    &:hover {
      animation: jump 1s linear;
    }
  }
}
.nav-bar__list {
  display: flex;
  align-items: center;
  padding-left: 1em;
}
.list__item {
  padding: 1.3em 1em;
  position: relative;
}
.item__link {
  padding: 1em 1em;
  text-align: center;
  font-size: $p2;
  color: $color1;
}
.item__link1:hover,
.item__link2:hover {
  color: $color4;
}
.item__link3 {
  color: $color4;
}
.item__link3:hover {
  color: $color1;
}

/* Icon styles */
.icon {
  width: 3rem;
}

/* Font styles for entire document */
.first-title {
  font-weight: 300;
  color: $color1;
  font-size: $h1-h2;
}
.second-title {
  font-weight: 300;
  color: $color1;
  font-size: $h3;
}
.main__price {
  color: $color4;
}
.link {
  text-decoration: none;
}
.header__text,
.footer__text {
  font-size: $p1;
}

/* list styles */
li {
  list-style-type: none;
}

/* responsive styles for smaller screen sizes */
@media (max-width: 960px) {
  .nav-bar__list {
    padding-left: 0;
    overflow: hidden;
  }
  .list__item {
    padding: 0;
    text-wrap: nowrap;
  }
}
@media (max-width: 480px) {
  .nav-bar__banner-content {
    .icon {
      width: 2em;
    }
    .second-title {
      font-size: $p2;
    }
  }
  .list_item {
    margin: 0;
    padding: 0;
  }
  .item__link {
    font-size: 1em;
    margin: 0;
  }
}
