@mixin offset-border($offset, $thickness, $color) {
  // inset: 0;
  border: $thickness solid $color;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -$offset;
  left: -$offset;
  bottom: $offset;
  right: $offset;
}
@mixin flex-column-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
