/* Consistent colors, text sizes and max/min widths for each page */
:root {
  --color1: #393939;
  --color2: #f7f7f7;
  --color3: #fff;
  --color4: #5bacc3;
  --color5: #fff0ed;
  --color6: #909090;
  --h1-h2: 3.7rem;
  --h3: 2.2rem;
  --h3card: 2rem;
  --p1: 1rem;
  --p2: 1.3rem;
  --p3: 2.8rem;
  --min-width: 320px;
  --max-width: 1440px;
}

/* Enitre document styles */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
  min-width: var(--min-width);
}

/* header section styles */
.header__nav-bar {
  background-color: var(--color5);
  padding-top: 1rem;
  padding-left: 1em;
  display: flex;
  justify-content: space-between;
}
.nav-bar__banner-content {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}
.nav-bar__list {
  display: flex;
  align-items: center;
  padding-left: 1em;
  min-width: var(--min-width);
}
.list__item {
  padding: 1.3em 1em;
  position: relative;
  /* border: 1px solid red; */
}
.item__link {
  padding: 1em 1em;
  text-align: center;
  font-size: var(--p2);
  color: var(--color1);
  /* border: 1px solid red; */
}
.item__link1:hover,
.item__link2:hover {
  color: var(--color4);
}
.item__link3 {
  color: var(--color4);
}
.item__link3:hover {
  color: var(--color1);
}

/* Icon styles */
.icon {
  width: 3rem;
}

/* Font styles for entire document */
.first-title {
  font-weight: 300;
  color: var(--color1);
  font-size: var(--h1-h2);
}
.second-title {
  font-weight: 300;
  color: var(--color1);
  font-size: var(--h3);
}
.main__price {
  color: var(--color4);
}
.link {
  text-decoration: none;
}
.header__text,
.footer__text {
  font-size: var(--p1);
}

/* list styles */
li {
  list-style-type: none;
}

/* responsive styles for smaller screen sizes */
@media (max-width: 960px) {
  
}
@media (max-width: 480px) {
  
}
